<footer class="studyhub-footer">
  <div class="container text-center">

    <!-- ロゴ -->
    <div class="mb-3 d-flex justify-content-center align-items-center gap-2">
      <i class="fa-solid fa-graduation-cap " style="color: #1d9bf0;"></i>
      <span class="fw-semibold studyhub-logo-text">StudyHub</span>
    </div>

    <!-- リンク -->
    <div class="footer-links mb-2">
      <%= link_to "About", about_path %>
      <span>·</span>
      <%= link_to "利用規約", "#" %>
      <span>·</span>
      <%= link_to "プライバシー", "#" %>
    </div>

    <!-- コピーライト -->
    <p class="small text-muted mb-0">
      © 2026 StudyHub
    </p>

  </div>
</footer>